<section style="margin-top:234px; margin-bottom:250px">
    <h1 style="text-align: center; margin-top:50px;">Order Placed Successfully</h1>
    <a href="/order-page" style="margin-left:681px; margin-top:20px;" class="btn btn-primary">View Orders</a>
</section>