<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/user-dash" class="nav-link">
              <span class="field-name">Dashboard</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/order-page1" class="nav-link">
              <span class="field-name">Orders</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/wallet" class="nav-link">
              <span class="field-name">Wallet</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/address" class="nav-link">
              <span class="field-name">My Address</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/account-details" class="nav-link">
              <span class="field-name">Account details</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/logout" class="nav-link">
              <span class="field-name">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <h1>Welcome to your profile page</h1>
      <p>This is where you can manage your account and view your orders and wallet balance.</p>
    </div>
  </div>
</div>

<script>
  // Highlight the active link
  const navLinks = document.querySelectorAll('.nav-link');
  const currentUrl = window.location.href;

  navLinks.forEach((link) => {
    if (link.href === currentUrl) {
      link.parentNode.classList.add('active');
    } else {
      link.parentNode.classList.remove('active');
    }
  });
</script>


<!-- <style>
  /* Customize the active link color */
  .list-group-item.active a {
    color: black;
  }
</style> -->
